@{
    ViewData["Title"] = "Головна сторінка";
}

<h2>Ласкаво просимо до тренажерного залу!</h2>
<p>Виберіть зал для перегляду деталей.</p>
<a asp-controller="Gyms" asp-action="Index" class="btn btn-primary">Перейти до залів</a>
